.Education{
    
    overflow: hidden;

    margin-top: 40px;
    
    padding: 10px  60px;
    color: white;
    background-color: black;
   

}

.ED{
    text-align: center;
    margin-bottom: 20px;
}