.Footer{
    padding: 10px  40px;
    background-color:rgb(59, 59, 61);
    color: bisque;
    font-family: 'Noto Sans Mono', monospace;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}