.Home{
    margin-top: 40px;
    display: flex;
    padding: 10px  60px;
    overflow: hidden;
    padding-top: 80px;
    /* background-color:rgb(41, 37, 70); */
    background-color: black;
    color: white;
}
.colorr{
    color: greenyellow;

}
#homeImg{
    height: 390px;
    width: 380px;
    overflow: hidden;
    border: 1px solid rgb(196, 103, 103);
    border-radius: 100%;
    border-spacing: 0; 


  /*
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #61dafb; 
  border-radius: 50%;
  animation: spin 2s linear infinite; */ 

}
.hi{
    display: flex;
    align-items: center;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }