.timg{
    width: 120px;
    height: 120px;
}
.ED{
    text-align: center;
    margin-bottom: 20px;
}

.Education{
    
    overflow: hidden;

    margin-top: 40px;
    
    padding: 10px  60px;
   

}